@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');   



:root{
    --color-1:#ffffff;
    --color-2:#f37800;
    --color-3:#242424;
    --color-4:#e8e8e8;
    --font-1: 'Oswald', sans-serif;
    --font-2: 'Raleway', sans-serif;
    --font-3: 'Roboto', sans-serif;
}