@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');   



:root{
    --color-1:#ffffff;
    --color-2:#f37800;
    --color-3:#242424;
    --color-4:#e8e8e8;
    --font-1: 'Oswald', sans-serif;
    --font-2: 'Raleway', sans-serif;
    --font-3: 'Roboto', sans-serif;
}

body {
    position: relative;
    height: auto;
    min-height: 320px;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container {
     height: inherit;  /*висота залежить від nav */
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar-menu {
    list-style-type: none; 
    padding-left: 0;
    margin-bottom: 0;   
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: #242424;
    text-decoration: none;
    padding: 20px;
    transition: all 0,07s;
}

.navbar-menu li a {
    opacity: 1;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;    
}

.callback {
    margin-left: 20px;
    padding: 10px 30px;
    background-color: #f37800;
    color: #f37800;
    text-decoration: none;
    border-radius: 100px;
    color: #ffffff;
    transform: all  .1s ease-out;
    box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
}

.callback:hover {
    transform: scale(1.04);
    color: #ffffff;
    box-shadow: 0 9px 9px rgba(255, 127, 80, .5);
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: orange;
    
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;   
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover, next:hover {
    background-color: rgba(0, 0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 12x;
    padding: 8px, 12px;
    position: absolute;
    

}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s ;
    animation-name: fade;
    animation-duration:1.5s ;
}

@-webkit-keyframes fade{
    from{opacity: 4}
    to {opacity: 1;}
}

@keyframes fade {
    from{opacity: 4}
    to {opacity: 1;}
}



